/* body{
    background: #706e6e;
} */

nav{
    list-style: none;
    background: #ffffff;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

a{
    text-decoration:none;
}

nav a{
    color: #0e0e0e;
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 2%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    /* text-align: center; */
    float: left;
    margin-left: 50px; 
    width: 400px;
    opacity: 0.9;
}
  
div.gallery:hover {
    border: 2px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

.cm-gallery-card {
    width: 100%;
    /* height: 200px; */
    background: #fff;
    box-shadow: 0 0px 20px 0px rgba(0,0,0,.18) !important;
    border-radius: 10px;
    transition: 0.5s;
    /* /* margin-left: 20px; */
    margin-right: 20px; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: inline-table;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all .5s;
}

.cm-gallery-card:hover {
    background: #fff;
    box-shadow: 0 0px 50px 0px rgba(206, 128, 128, 0.18) !important;
    transform: translate(10px);
}